# Local settings
main_project/local_settings.py
main_app/api_keys.py

# Unnecessary auxiliary files
main_project/__pycache__
main_app/__pycache__
main_app/migrations/__pycache__
staticfiles
brainstorm.txt
.idea
.DS_Store
static/compiler
