{% extends 'base.html' %}
{% block page_title %}Dashboard{% endblock %}
{% load static %}
{% block style %}{% endblock %}

{% block scripts %}
	$(document).ready(function(){
    	$('.hidden').fadeIn('slow').removeClass('hidden');
	});

	mood = moods[{{ ret.polarity }}+1];
	console.log(mood,{{ ret.polarity }});

{% endblock %}

{% block content %}
	<div class="dash">
		<div class="banner">
			<h2 class="title">Welcome to the Dashboard</h2>
		</div>
		<div class="content">
			<div class="recommendations hidden">
				<div class="quote">
					<p class="saying">"{{ ret.quote.0 }}"</p>
					<p class="by">-{{ ret.quote.1.upper }}</p>
				</div>
				<div class="music">
					<div class="title">
						<p>Music</p>
					</div>
					<div class="album">
						<a href={{ ret.music.0.0 }}><img src="{{ ret.music.0.1 }}" alt="album jacket" width="150" height="150"></a>
						<p>{{ ret.music.0.2 }}</p>
					</div>
					<div class="album">
						<a href={{ ret.music.1.0 }}><img src="{{ ret.music.1.1 }}" alt="album jacket" width="150" height="150"></a>
						<p>{{ ret.music.1.2 }}</p>
					</div>
					<div class="album">
						<a href={{ ret.music.2.0 }}><img src="{{ ret.music.2.1 }}" alt="album jacket" width="150" height="150"></a>
						<p>{{ ret.music.2.2 }}</p>
					</div>
					<div class="album">
						<a href={{ ret.music.3.0 }}><img src="{{ ret.music.3.1 }}" alt="album jacket" width="150" height="150"></a>
						<p>{{ ret.music.3.2 }}</p>
					</div>
				</div>
				<div class="articles">
					<div class="title">
						<p>Article</p>
					</div>
					<div class="card">
						<p class="reddit-icon"><img src="{% static 'img/reddit.svg' %}" alt="Reddit Icon"></p>
						<div class="detail">
							<p class="title">{{ ret.reddit.0.0 }}</p>
							<p class="link"><a href="{{ret.reddit.0.1}}">LINK</a></p>
						</div>
					</div>
					<div class="card">
						<p class="reddit-icon"><img src="{% static 'img/reddit.svg' %}" alt="Reddit Icon"></p>
						<div class="detail">
							<p class="title">{{ ret.reddit.1.0 }}</p>
							<p class="link"><a href="{{ret.reddit.1.1}}">LINK</a></p>
						</div>
					</div>
					<div class="card">
						<p class="reddit-icon"><img src="{% static 'img/reddit.svg' %}" alt="Reddit Icon"></p>
						<div class="detail">
							<p class="title">{{ ret.reddit.2.0 }}</p>
							<p class="link"><a href="{{ret.reddit.2.1}}">LINK</a></p>
						</div>
					</div>
					<div class="card">
						<p class="reddit-icon"><img src="{% static 'img/reddit.svg' %}" alt="Reddit Icon"></p>
						<div class="detail">
							<p class="title">{{ ret.reddit.3.0 }}</p>
							<p class="link"><a href="{{ret.reddit.3.1}}">LINK</a></p>
						</div>
					</div>
				</div>
				<div class="books">
					<div class="title">
						<p>Books</p>
					</div>
					<div class="album">
						<a href={{ ret.music.0.0 }}><img src="{% static 'img/sample.jpg' %}" alt="Book Cover" width="150" height="150"></a>
						<p>SAMPLE_BOOK</p>
					</div>
					<div class="album">
						<a href={{ ret.music.0.0 }}><img src="{% static 'img/sample.jpg' %}" alt="Book Cover" width="150" height="150"></a>
						<p>SAMPLE_BOOK</p>
					</div>
					<div class="album">
						<a href={{ ret.music.0.0 }}><img src="{% static 'img/sample.jpg' %}" alt="Book Cover" width="150" height="150"></a>
						<p>SAMPLE_BOOK</p>
					</div>
					<div class="album">
						<a href={{ ret.music.0.0 }}><img src="{% static 'img/sample.jpg' %}" alt="Book Cover" width="150" height="150"></a>
						<p>SAMPLE_BOOK</p>
					</div>
				</div>
				<div class="movies">
					<div class="title">
						<p>Movies</p>
					</div>
					<div class="album">
						<a href={{ ret.music.0.0 }}><img src="{% static 'img/sample.jpg' %}" alt="Movie Cover" width="150" height="150"></a>
						<p>SAMPLE_MOVIE</p>
					</div>
					<div class="album">
						<a href={{ ret.music.0.0 }}><img src="{% static 'img/sample.jpg' %}" alt="Movie Cover" width="150" height="150"></a>
						<p>SAMPLE_MOVIE</p>
					</div>
					<div class="album">
						<a href={{ ret.music.0.0 }}><img src="{% static 'img/sample.jpg' %}" alt="Movie Cover" width="150" height="150"></a>
						<p>SAMPLE_MOVIE</p>
					</div>
					<div class="album">
						<a href={{ ret.music.0.0 }}><img src="{% static 'img/sample.jpg' %}" alt="Movie Cover" width="150" height="150"></a>
						<p>SAMPLE_MOVIE</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
