{% extends 'base.html' %}
{% load static %}

{% block page_title %}Getting Help{% endblock %}

{% block content %}
	<div class="help">
		<p class="message">It's crucial when dealing with difficult situations in your life that you consult somebody that will take you seriously.</p>
		<p class="message">These certified, professional medical experts are here to help.</p>
		<div class="doctors">
			<div class="info-card">
				<p class="pict"><img src="{{experts.0.1}}" alt="Doctor_Picture"></p>
				<p class="name">{{experts.0.0}}</p>
				<p class="skills">Speciality: {{experts.0.2}}</p>
				<p class="address">Location: {{experts.0.3}}, {{experts.0.4}}</p>
			</div>
		</div>
	</div>
{% endblock %}