{% extends 'base.html' %}
{% block page_title %}Top{% endblock %}
{% load static %}
{% block style %}{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
  	<div class="top">
  		<div class="main-message">
  			<p class="main-message">How are you feeling?</p>
  		</div>
  		<div class="main-input">
  			<form action="{% url 'result' %}" method="get">
				{% csrf_token %}
				<div class="box">
					<textarea class="feeling-input" id="input" name="input" type="text" placeholder=""></textarea>
				</div>
				<div class="btn">
					<input type="submit" class="submit" value="Submit">
				</div>
			</form>
  		</div>
	</div>
{% endblock %}