{% extends 'base.html' %}
{% block page_title %}Top{% endblock %}
{% load static %}
{% block style %}{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">name</h1>
    <p class="lead">Input how you're feeling to get some feedback.</p>
    <hr class="my-4">
    <form action="{% url 'result' %}" method="get">
        {% csrf_token %}
        <div class="form-group">
            <label for="input">Input feelings</label>
            <input type="text" class="form-control" id="input" name="input" placeholder="Input how you're feeling...">
        </div>
        <input type="submit" class="btn btn-primary" value="Submit">
    </form>
</div>
{% endblock %}