canvas.backgroundsketch {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

	z-index: -1;
}

#fps{
  display: none;
  position: fixed;
  top:84px;
  left: 3px;
  background-color: rgba(0,0,0,0.2);
}

.land{
  background-image: linear-gradient(80deg, #FF9391, #1BBDC0);
}

.angry{
  background-image: linear-gradient(80deg, #FF1E1E,
#FF5577);
background-image: linear-gradient(80deg, #FF1E1E,
#FF9E2E);
}

.contempt{
  background-image: linear-gradient(80deg, #88BCEB, #88E1EB);
}

.disgust{
  background-image: linear-gradient(80deg, green, lightgreen);
}

.fear{
  background-image: linear-gradient(80deg, #964BE1, #E14BA0);
}

.happiness{
  background-image: linear-gradient(80deg, #F2AF3D, #EFD7CD);
}

.neutral{
  background-image: linear-gradient(80deg, darkgrey, lightgrey);
}

.sadness{
  background-image: linear-gradient(80deg, #3A8FFF, #87DCFF);
}

.surprise{
  background-image: linear-gradient(80deg, #FF8900, yellow);
}
