html {
  background-color: black;
  font-family: "Gravity-Regular", "Arial", Times, serif; }
  html .hidden {
    display: none; }
  html header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white; }
    html header .nav-menu {
      width: 25%; }
      html header .nav-menu > ul {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-content: center;
        list-style-type: none; }
        html header .nav-menu > ul > li {
          display: flex;
          align-content: center;
          justify-content: center;
          width: 33.333%; }
          html header .nav-menu > ul > li > a {
            color: white;
            width: 100%;
            transition: 0.3s;
            text-align: center;
            line-height: 100%; }
            html header .nav-menu > ul > li > a:hover {
              text-decoration: none;
              background-color: rgba(255, 255, 255, 0.4);
              transition: 0.3s; }
  html textarea {
    outline: none;
    resize: none; }
  html .top {
    background-color: black; }
    html .top .main-message {
      display: flex;
      width: 100%;
      justify-content: center;
      align-content: center;
      color: white;
      height: 150px;
      font-size: 50px; }
      html .top .main-message p {
        margin: auto; }
    html .top .main-input {
      display: flex;
      justify-content: center; }
      html .top .main-input > form {
        width: 75%; }
        html .top .main-input > form .box {
          display: flex;
          justify-content: center; }
          html .top .main-input > form .box .feeling-input {
            background-color: black;
            border: white 1px solid;
            color: white;
            width: 50%;
            height: 4em;
            border-radius: 10px;
            margin: 0 auto 20px;
            transition: 0.3s; }
            html .top .main-input > form .box .feeling-input:focus {
              width: 100%;
              height: 200px;
              transition: 0.3s; }
        html .top .main-input > form .btn {
          width: 100%; }
          html .top .main-input > form .btn .submit {
            outline: none;
            font-size: 1.5em;
            margin: 0 auto;
            width: auto;
            border-radius: 10px;
            background-color: black;
            padding: 0 10px;
            color: white;
            border: white 1px solid;
            transition: 0.3s; }
            html .top .main-input > form .btn .submit:hover {
              background-color: white;
              color: black;
              transition: 0.3s; }
