html {
  background-color: black;
  font-family: "Gravity-Regular", "Arial", Times, serif; }
  html .hidden {
    display: none; }
  html header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    height: 100px; }
    html header .nav-menu {
      width: 25%; }
      html header .nav-menu > ul {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-content: center;
        list-style-type: none; }
        html header .nav-menu > ul > li {
          display: flex;
          align-content: center;
          justify-content: center;
          width: 33.333%; }
          html header .nav-menu > ul > li > a {
            color: white;
            width: 100%;
            transition: 0.3s;
            text-align: center;
            margin: auto; }
            html header .nav-menu > ul > li > a:hover {
              text-decoration: none;
              background-color: rgba(255, 255, 255, 0.4);
              transition: 0.3s; }
  html textarea {
    outline: none;
    resize: none; }
  html .top {
    background-color: black; }
    html .top .landing {
      height: calc(100vh - 100px); }
    html .top .main {
      top: 50%;
      transform: translateY(-60%);
      position: relative; }
      html .top .main-message {
        display: flex;
        width: 100%;
        justify-content: center;
        align-content: center;
        color: white;
        font-size: 50px;
        margin-bottom: 40px; }
        html .top .main-message p {
          margin: auto; }
      html .top .main-input {
        display: flex;
        justify-content: center; }
        html .top .main-input > form {
          width: 50%; }
          html .top .main-input > form .box {
            display: flex;
            justify-content: center; }
            html .top .main-input > form .box .feeling-input {
              background-color: black;
              border: white 1px solid;
              color: white;
              width: 100%;
              height: 20em;
              border-radius: 10px;
              margin: 0 auto 20px; }
          html .top .main-input > form .btn {
            width: 100%; }
            html .top .main-input > form .btn .submit {
              outline: none;
              font-size: 1.5em;
              margin: 0 auto;
              width: auto;
              border-radius: 10px;
              background-color: black;
              padding: 0 10px;
              color: white;
              border: white 1px solid;
              transition: 0.3s; }
              html .top .main-input > form .btn .submit:hover {
                background-color: white;
                color: black;
                transition: 0.3s; }
    html .top #about {
      color: black;
      background-color: white;
      overflow: auto; }
      html .top #about .content {
        width: 1000px;
        margin: 0 auto;
        padding: 40px 0 40px; }
        html .top #about .content .title {
          font-size: 2em;
          font-weight: bold; }
  html .dash .banner {
    width: 100%;
    height: 200px;
    background-color: gray;
    color: white;
    display: table; }
    html .dash .banner .title {
      font-size: 4em;
      margin: 0;
      padding: 0;
      vertical-align: middle;
      text-align: center;
      display: table-cell; }
  html .dash .content {
    background-color: black; }
    html .dash .content .recommendations {
      width: 1000px;
      margin: 0 auto; }
      html .dash .content .recommendations > div {
        margin-bottom: 40px; }
      html .dash .content .recommendations .quotes, html .dash .content .recommendations .music, html .dash .content .recommendations .articles, html .dash .content .recommendations .movies, html .dash .content .recommendations .books {
        display: flex;
        flex-wrap: wrap; }
        html .dash .content .recommendations .quotes .title, html .dash .content .recommendations .music .title, html .dash .content .recommendations .articles .title, html .dash .content .recommendations .movies .title, html .dash .content .recommendations .books .title {
          width: 100%;
          font-size: 2em;
          margin-bottom: 20px;
          color: white; }
        html .dash .content .recommendations .quotes .card, html .dash .content .recommendations .music .card, html .dash .content .recommendations .articles .card, html .dash .content .recommendations .movies .card, html .dash .content .recommendations .books .card {
          background-color: gray;
          width: 75%;
          margin: 0 auto;
          color: white;
          margin-bottom: 10px; }
        html .dash .content .recommendations .quotes .album, html .dash .content .recommendations .music .album, html .dash .content .recommendations .articles .album, html .dash .content .recommendations .movies .album, html .dash .content .recommendations .books .album {
          overflow: hidden;
          width: calc(20% + 30px);
          display: flex;
          justify-content: center; }
