{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/logo.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sketch.css' %}">
    <title>{% block page_title %}{% endblock %} | Thera</title>
    {% block style %}{% endblock %}

    <!-- P5.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/p5.js"></script>
    <script src="{% static 'js/sketch/sketch.js' %}"></script>
    <script src="{% static 'js/sketch/ripple.js' %}"></script>
    <script src="{% static 'js/sketch/spark.js' %}"></script>
    <script src="{% static 'js/sketch/travPart.js' %}"></script>
    <script src="{% static 'js/sketch/flowField.js' %}"></script>
    <script src="{% static 'js/sketch/landingSketch.js' %}"></script>
    <script src="{% static 'js/sketch/joySketch.js' %}"></script>
    <script src="{% static 'js/sketch/sadSketch.js' %}"></script>

</head>
<body>
  <script>{% block scripts %}{% endblock %}</script>
  <div>
    <header>
      <a class="logo" href="{% url 'index' %}"></a>
      <nav class="nav-menu">
        <ul>
        <li>
          <a class="" href="{% url 'index' %}">Home</a>
        </li>
        <li>
          <a class="" href="{% url 'index' %}#about">About</a>
        </li>
        <li>
            <a class="" href="{% url 'getting_help' %}">Getting Help</a>
        </li>
        <li>
            <a class="" href="{% url 'index' %}">My Journal</a>
        </li>
        <li>
          <a class="" href="{% url 'index' %}">Sign In</a>
        </li>
      </ul>
      </nav>
    </header>
    <div id="fps"></div>
  </div>

{% block content %}{% endblock %}

  <div>
      <footer class="footer">
      </footer>
  </div>
   <script src="{% static 'js/jquery.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
