html{
	background-color: black;
	font-family: "Gravity-Regular", "Arial", Times, serif;
	header{
		display: flex;
		justify-content: space-between;
		background-color: #062049;
	}
	textarea{
		outline: none; 
    	resize: none; 
	}
	.top{
		background-color: black;
		.main{
			&-message{
				display: flex;
				width: 100%;
				justify-content: center;
				color: white;
				padding: 40px 0;
				font-size: 50px;
			}
			&-input{
				display: flex;
				justify-content: center;
				>form{
					width: 75%;
					.box{
						display: flex;
						justify-content: center;
						.feeling-input{
							background-color: black;
							border: #66ccff 1px solid;
							color: #66ccff;
							width: 50%;
							height: 4em;
							border-radius: 10px;
							margin: 0 auto 40px;
							transition: 0.3s;
							&:focus{
								width: 100%;
								height: 200px;
								transition: 0.3s;
							}
						}
					}
					.btn{
						width: 100%;
						.submit{
							margin: 0 auto;
							width: 100px;
						}
					}
				}
			}
		}
	}
}