@import "color";

html{
	background-color: $bg;
	font-family: "Gravity-Regular", "Arial", Times, serif;
	.hidden{
		display: none;
	}
	header{
		display: flex;
		justify-content: space-between;
		background-color: $bg;
		color: $forte;
		.nav-menu{
			width: 25%;
			>ul{
				height: 100%;
				display: flex;
				justify-content: space-between;
				align-content: center;
				list-style-type: none;
				>li{
					display: flex;
					align-content: center;
					justify-content: center;
					width: 33.333%;
					>a{
						color: $navtxt;
						width: 100%;
						transition: 0.3s;
						text-align: center;
						margin: auto;
						&:hover{
							text-decoration: none;
							background-color: rgba(255,255,255, 0.4);
							transition: 0.3s;
						}
					}
				}
			}
		}
	}
	textarea{
		outline: none;
    	resize: none;
	}
	.top{
		background-color: $bg;
		.landing{
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
		.main{
			top: 50%;
			transform: translateY(-50%);
			position: relative;
			&-message{
				display: flex;
				width: 100%;
				justify-content: center;
				align-content: center;
				color: $forte;
				font-size: 50px;
				margin-bottom: 40px;
				p{
					margin: auto;
				}
			}
			&-input{
				display: flex;
				justify-content: center;
				>form{
					width: 50%;
					.box{
						display: flex;
						justify-content: center;
						.feeling-input{
							background-color: $bg;
							border: $forte 1px solid;
							color: $forte;
							width: 100%;
							height: 20em;
							border-radius: 10px;
							margin: 0 auto 20px;
						}
					}
					.btn{
						width: 100%;
						.submit{
							outline: none;
							font-size: 1.5em;
							margin: 0 auto;
							width: auto;
							border-radius: 10px;
							background-color: $bg;
							padding: 0 10px;
							color: $forte;
							border: $forte 1px solid;
							transition: 0.3s;
							&:hover{
								background-color: $btnhvr;
								color: $forte;
								transition: 0.3s;
							}
						}
					}
				}
			}
		}
		#about{
			top: 100%;
			position: absolute;
			width: 100%;

			.text-box{
				p{
					text-overflow: ellipsis;
					overflow-wrap: break-word;
				}
			}
		}
	}
	.dash{
		.banner{
			width: 100%;
			height: 200px;
			background-color: $bg2;
			color: $forte;
			display: table;
			.title{
				font-size: 4em;
				margin:0;
				padding:0;
				vertical-align:middle;
				text-align: center;
				display:table-cell;
			}
		}
		.content{
			background-color: $bg;
			.recommendations{
				width: 1000px;
				margin: 0 auto;
				>div{
					margin-bottom: 40px;
				}
				.quotes, .music, .articles, .movies, .books{
					display: flex;
					flex-wrap: wrap;
					.title{
						width: 100%;
						font-size: 2em;
						margin-bottom: 20px;
						color: $forte;
					}
					.card{
						background-color: $bg2;
						width: 75%;
						margin: 0 auto;
						color: $forte;
						margin-bottom: 10px;
					}
					.album{
						overflow: hidden;
						width: calc(20% + 30px);
						display: flex;
						justify-content: center;
					}
				}
			}
		}
	}
}
